_site
.sass-cache
.jekyll-cache/
.jekyll-metadata
.DS_Store
.byebug_history
.tmp.xml
csd/*.rxl
csd/*.yaml
csd.xml
csd.yaml
external
admin
*.xml
!csd/*.xml
_data/admin.yaml
_data/external.yaml
_data/csd.yaml
*.rxl
standards/
