# Direnv
.direnv/

# Relaton
relaton
relaton.Gemfile.lock
iev

# Metanorma / jekyll
*.err.html
*.abort
_site
.sass-cache
.jekyll-cache/
.jekyll-metadata
.DS_Store
.byebug_history
.tmp.xml
_documents
_input/*.rxl
_input/csd.yaml
bib/
bibcoll/
csd/
.vscode/

# Generated data
_data/documents.json

# Generated assets
assets/relaton.css

# Vite / Node
node_modules/
public/vite*
config/
vendor/

TODO*
