<div class="document">
{%- if document.stage == "publish" -%}
{% assign stagetag = document.stage %}
{%- else -%}
{% assign stagetag = "updated" %}
{%- endif -%}

{%- unless document.html == blank or document.html == nil -%}
{%- if document.html contains '://' -%}
{%- assign htmluri = document.html -%}
{%- else -%}
{%- assign htmluri = document.html | prepend: "/" -%}
{%- endif -%}
{%- endunless -%}

{%- unless document.pdf == blank or document.pdf == nil -%}
{%- if document.pdf contains '://' -%}
{%- assign pdfuri = document.pdf -%}
{%- else -%}
{%- assign pdfuri = document.pdf | prepend: "/" -%}
{%- endif -%}
{%- endunless -%}

{%- unless document.doc == blank or document.doc == nil -%}
{%- if document.doc contains '://' -%}
{%- assign docuri = document.doc -%}
{%- else -%}
{%- assign docuri = document.doc | prepend: "/" -%}
{%- endif -%}
{%- endunless -%}

{%- unless document.xml == blank or document.xml == nil -%}
{%- if document.xml contains '://' -%}
{%- assign xmluri = document.xml -%}
{%- else -%}
{%- assign xmluri = document.xml | prepend: "/" -%}
{%- endif -%}
{%- endunless -%}

{%- unless document.rxl == blank or document.rxl == nil -%}
{%- if document.rxl contains '://' -%}
{%- assign rxluri = document.rxl -%}
{%- else -%}
{%- assign rxluri = document.rxl | prepend: "/" -%}
{%- endif -%}
{%- endunless -%}

  <div class="doc-line">
    <div class="doc-identifier">
      <h{{ depth }}>
      {%- if htmluri == blank or htmluri == nil -%}
        {{ document.docidentifier }}
      {%- else -%}
        <a href="{{ htmluri }}">{{ document.docidentifier }}</a>
      {%- endif -%}
      </h{{ depth }}>
    </div>

    <div class="doc-type-wrap">
      <div class="doc-type {{ document.doctype | downcase | split: " " | join: "-" }}">
      {{ document.doctype }}
      </div>
    </div>
  </div>

  <div class="doc-title">
    <h{{ depth | plus: 1 }}>
      {%- if htmluri == blank or htmluri == nil -%}
        {{ document.title }}
      {%- else -%}
        <a href="{{ htmluri }}">{{ document.title }}</a>
      {%- endif -%}
    </h{{ depth | plus: 1 }}>
  </div>

  <div class="doc-info {{ document.stage | downcase }}">
    <div class="doc-stage {{ document.stage | downcase }}">
      {{ document.stage }}
    </div>
    {%- unless document.revdate == blank or document.revdate == nil -%}
    <div class="doc-dates">
      <div class="doc-{{ stagetag | downcase }}">
        ({{ document.revdate | date: "%Y-%m-%d" }})
      </div>
    </div>
    {%- endunless -%}
  </div>

  {%- unless document.abstract == blank or document.abstract == nil -%}
  <div class="doc-abstract">
    {{ document.abstract }}
  </div>
  {%- endunless -%}

  {%- unless document.rxl == blank or document.rxl == nil -%}
  <div class="doc-bib">
    <div class="doc-bib-rxl">
      <a href="{{ rxluri }}">Relaton XML</a>
    </div>
  </div>
  {%- endunless -%}

  <div class="doc-access">
   {%- unless htmluri == blank or htmluri == nil -%}
    <div class="doc-access-button-html">
      <a href="{{ htmluri }}">HTML</a>
    </div>
  {%- endunless -%}
   {%- unless pdfuri == blank or pdfuri == nil -%}
    <div class="doc-access-button-pdf">
      <a href="{{ pdfuri }}">PDF</a>
    </div>
  {%- endunless -%}
   {%- unless docuri == blank or docuri == nil -%}
    <div class="doc-access-button-doc">
      <a href="{{ docuri }}">Word</a>
    </div>
  {%- endunless -%}
   {%- unless xmluri == blank or xmluri == nil -%}
    <div class="doc-access-button-xml">
      <a href="{{ xmluri }}">XML</a>
    </div>
  {%- endunless -%}
  </div>
</div>

{%- assign htmluri = nil -%}
{%- assign pdfuri = nil -%}
{%- assign docuri = nil -%}
{%- assign xmluri = nil -%}
{%- assign rxluri = nil -%}
