<div class="document">
{%- if document.stage == "publish" -%}
{% assign stagetag = document.stage %}
{%- else -%}
{% assign stagetag = "updated" %}
{%- endif -%}

  <div class="doc-line">
    <div class="doc-identifier">
      <h{{ depth }}>
      {%- if document.html == blank or document.html == nil -%}
        {{ document.docidentifier }}
      {%- else -%}
        <a href="{{ document.html }}">{{ document.docidentifier }}</a>
      {%- endif -%}
      </h{{ depth }}>
    </div>

    <div class="doc-type-wrap">
      <div class="doc-type {{ document.doctype | downcase | split: " " | join: "-" }}">
      {{ document.doctype }}
      </div>
    </div>
  </div>

  <div class="doc-title">
    <h{{ depth | plus: 1 }}>
      {%- if document.html == blank or document.html == nil -%}
        {{ document.title }}
      {%- else -%}
        <a href="{{ document.html }}">{{ document.title }}</a>
      {%- endif -%}
    </h{{ depth | plus: 1 }}>
  </div>

  <div class="doc-info {{ document.stage | downcase }}">
    <div class="doc-stage {{ document.stage | downcase }}">
      {{ document.stage }}
    </div>
    {%- unless document.revdate == blank or document.revdate == nil -%}
    <div class="doc-dates">
      <div class="doc-{{ stagetag | downcase }}">
        ({{ document.revdate | date: "%Y-%m-%d" }})
      </div>
    </div>
    {%- endunless -%}
  </div>

  {%- unless document.abstract == blank or document.abstract == nil -%}
  <div class="doc-abstract">
    {{ document.abstract }}
  </div>
  {%- endunless -%}

  <div class="doc-bib">
    <div class="doc-bib-relaton">
      <a href="{{ document.relaton }}">Relaton XML</a>
    </div>
  </div>

  <div class="doc-access">
  {%- unless document.html == blank or document.html == nil -%}
    <div class="doc-access-button-html">
      <a href="{{ document.html }}">HTML</a>
    </div>
  {%- endunless -%}
  {%- unless document.pdf == blank or document.pdf == nil -%}
    <div class="doc-access-button-pdf">
      <a href="{{ document.pdf }}">PDF</a>
    </div>
  {%- endunless -%}
  {%- unless document.doc == blank or document.doc == nil -%}
    <div class="doc-access-button-doc">
      <a href="{{ document.doc }}">Word</a>
    </div>
  {%- endunless -%}
  {%- unless document.xml == blank or document.xml == nil -%}
    <div class="doc-access-button-xml">
      <a href="{{ document.xml }}">XML</a>
    </div>
  {%- endunless -%}
  </div>
</div>
