<footer class="page-footer">
    <div id="sitemap">
        <div id="sitemap-inner" class="container">
            <div class="region region-sitemap">
                <section id="block-menu-block-1" class="block block-menu-block ">
                    <div class="menu-block-wrapper menu-block-1 menu-name-main-menu parent-mlid-0 menu-level-1">
                        <ul class="menu nav">
                            <li class="sub-list">
                                <a href="/">Home</a>
                                <ul class="menu nav">
                                  <li>
                                    <a href="/administrative/">Administrative documents</a>
                                  </li>
                                  <li>
                                    <a href="/patents/">Patent Information Database</a>
                                  </li>
                                  <li>
                                    <a href="/public-review/">Public review</a>
                                  </li>
                                  <li>
                                    <a href="/standards/">Standards</a>
                                  </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </section>
            </div>
        </div>
    </div>
   <div class="footer-copyright">
        <div class="container">
          <div id="footer-left">
            Copyright &copy; CalConnect<sup>SM</sup>. <a href="https://www.calconnect.org/contact">Contact Us</a> | <a href="https://www.calconnect.org/about/policies/copyright-and-licensing">Copyright & Licensing</a>
          </div>
        </div>
    </div>
</footer>
