<nav class="deep-purple lighten-1" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" class="brand-logo" href="{{ "/" | relative_url }}">CALCONNECT Document Registry<!-- <span class="hidden-xs"></span> --></a>

        <ul class="hide-on-med-and-down">
            <li><a href="{{ "/" | relative_url }}">Home</a></li>
            <li><a href="/standard/">Standards</a></li>
            <li><a href="/public-review/">Public review</a></li>
            <li><a href="/pending-publication/">Pending Publication</a></li>
            <li><a href="/administrative/">Administrative</a></li>
            <li><a href="/patents/">Patent DB</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="#">Home</a></li>
            <li><a href="/standard/">Standards</a></li>
            <li><a href="/public-review/">Public review</a></li>
            <li><a href="/pending-publication/">Pending Publication</a></li>
            <li><a href="/report/">Reports</a></li>
            <li><a href="/specification/">Specifications</a></li>
            <li><a href="/administrative/">Administrative</a></li>
            <li><a href="/directive/">Directives</a></li>
            <li><a href="/patents/">Patent DB</a></li>
            <li><a href="/advisory/">Advisories</a></li>
            <li><a href="/amendment/">Amendments</a></li>
            <li><a href="/technical-corrigendum/">Technical Corrigenda</a></li>
            <li><a href="/guide/">Guides</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>
