<!DOCTYPE html>
<html lang="{{ lang | default: "en" }}">

  {% render 'head' %}

  <body>
    {% render 'header' %}
    <main>
      <div class="container">
        {% render 'document' for documents %}
      </div>
    </main>

    {% render 'footer' %}

    {% render 'script' %}
  </body>

</html>
